<!DOCTYPE html>
<html>
<head>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  
  <link rel="stylesheet"href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="ho.css">
  
  <!-- Favicon -->
<link href="img/favicon.ico" rel="icon">

<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

<!-- Icon Font Stylesheet -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

<!-- Libraries Stylesheet -->
<link href="lib/animate/animate.min.css" rel="stylesheet">
<link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

<!-- Customized Bootstrap Stylesheet -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Template Stylesheet -->
<link href="css/style.css" rel="stylesheet">
</head>
<body >

<ul class="w3-sidebar w3-dark-grey w3-bar-block p-4" style="width: 10%;color: aqua;">
  <li><a class="w3-bar-item w3-button" href="/studenthom">Home</a></li>
  <li><a class="active w3-bar-item " href="/Admission1">Admission</a></li>
  <li ><a class="w3-bar-item w3-button" href="/logout">Logout</a></li>
</ul>

  <div class="main"style="margin-left:25%;">
    <form action="/addmission" method="get" style="padding: 30px; ">
    <h1>View Admission Records</h1>
    <input type="submit" id="submitDetails" name="submitDetails" class="registerbtn" value="View Admission" />   <br>
    </form>
    </div>


</body>
</html>


