<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="ho.css">
<link rel="stylesheet"
href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body >

  <ul class="w3-sidebar w3-dark-grey w3-bar-block" style="width: 10%">
    <li><a class="w3-bar-item w3-button" href="/home">Home</a></li>
    <li><a  class="active w3-bar-item" href="/astudent">Add Student    </a></li>
    <li ><a class=" w3-bar-item w3-button" href="/logout">Logout</a></li>
  </ul>
  
  <div class="main"style="overflow-x:auto;margin-left:20%;">
      <form action="/student" method="post" style="padding: 30px; ">
      <h1>Add Student details</h1>
      <table style="overflow-x:auto;">
      <input class="box" type="text" name="name" id="name" placeholder="Name" required/><br><br>
      <input class="box" type="text" name="roll" id="roll" placeholder="Roll no " required/><br><br>
      <!-- <input class="box" type="text" name="address" id="address" placeholder="Address " required/><br><br> -->
      <input class="box" type="email" name="email" id="email" placeholder="Email " required/><br><br>
      
      <input class="box" type="text" name="phnno" id="phnno" placeholder="Phone No " required/><br><br>
      
      <br>
      <input type="submit" id="submitDetails" name="submitDetails" class="registerbtn" value="Submit" />   <br>
      </form>
      </div></table>
  
      <div class="main"style="margin-left:25%;">
        <form action="/student" method="get"style="padding: 30px; ">
        <h1>View Students</h1>
        <input type="submit" id="submitDetails" name="submitDetails" class="registerbtn" value="View Students" />   <br>
        </form>
        </div>
</body>
</html>


